<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Pagination</title>
    <style>
         .pagination{
            display: flex;
            justify-content: center;
            align-items: center;
            
         }
        .pagination a{
            border: 2px solid black;
            padding:8px;
            margin: 4px;
            color: black;
            text-decoration: none;
            border-radius: 8px;
        }
        .pagination a:hover{
            background-color: lightblue;
        }
    </style>
</head>

<body>
    <h1>Django Pagination</h1>
    <hr>
    <ul>
        {%for post in page_obj%}
            <li><b>{{post.title}}</b>- {{post.content}}</li>
        {%endfor%}
    </ul>
    <div class="pagination">
        {%if page_obj.has_previous%}
            <a href="?page=1">First</a>
            <a href="?page={{page_obj.previous_page_number}}">Previous</a>
        {%endif%}

        {%for page_num in page_obj.paginator.page_range%}
            {%if page_num == page_obj.number%}
                <strong>{{page_num}}</strong>
            {%else%}
                <a href="?page={{page_num}}">{{page_num}}</a>
            {%endif%}
        {%endfor%}

        {%if page_obj.has_next%}
            <a href="?page={{page_obj.next_page_number}}">Next</a>
            <a href="?page={{page_obj.paginator.num_pages}}">Last</a>
        {%endif%}
    </div>

    
</body>
</html>